<h1 class="text-white ps-3">使い方</h1>

<div class="container w-100 row float-start">
 <div class="col-9 text-center">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/anR6QVQtaCM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-3 bg-white">
    <h2 class="">目次</h2>
    <div><%= link_to "0:00 ユーザー登録", "https://youtu.be/anR6QVQtaCM"%></div>
    <div><%= link_to "0:26 テーマ登録", "https://youtu.be/anR6QVQtaCM?t=26"%></div>
    <div><%= link_to "1:39 回答依頼", "https://youtu.be/anR6QVQtaCM?t=99"%></div>
    <div><%= link_to "2:45 質問への回答方法", "https://youtu.be/anR6QVQtaCM?t=165"%></div>
    <div><%= link_to "4:24 カード化", "https://youtu.be/anR6QVQtaCM?t=264"%></div>
    <div><%= link_to "5:11 KJ法実施(グループ化)", "https://youtu.be/anR6QVQtaCM?t=311"%></div>
    <div><%= link_to "6:29 テーマメインページの使い方", "https://youtu.be/anR6QVQtaCM?t=389"%></div>
  </div>
</div>