<h1 class="text-white ps-3">Login</h1>
<p><%= notice %><%= alert %></p>
<div class="container w-100">
  <div class="row mx-auto">
    <% if user_signed_in? %>
      <h2 class="text-white text-center">ログイン中です</h2>
    <% else %>
      <div class="text-center">
        <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: 'twitter_login' do %>
          <%= image_tag 'twitter_login.png'%>
        <% end %>
      </div>
      <div class="text-center row">
        <%= button_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'col-3 m-3' %>
        <%= button_to 'Adminログイン', users_admin_sign_in_path, method: :post, class: 'col-3' %>
      </div>
    <% end %>
  </div>
</div>