<%= form_with(model: @question) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% @question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-100 row mt-5 float-start border-bottom border-3 pb-3 mx-auto justify-content-center">
    <div class="mx-auto row text-center justify-content-center mb-3">
      <div class="col-12 col-md-4 bg-danger text-white d-flex align-items-center justify-content-center me-1 mb-2 mb-md-0">回答終了目安タイマー：
      <span class="h3" id="timer">120</span>秒
      </div>
      <div id="remaining" class="col-12 col-md-3 border border-3 border-dark h3 bg-info text-white d-flex align-items-center justify-content-center ms-1 p-0 mb-0">残り：<%= @question_ids.length%>件</div>
    </div>

    <div class="col-12 col-md-8">
    <table class="table text-center col-8 col-md-6 table-bordered border-dark">
      <tr class="bg-primary text-white">
        <th class="col-4 col-md-2">テーマ名</th>
        <th><%= @question.thema.name%></th>
      </tr>

      <tr>
        <td>目的</td>
        <td><%= @question.thema.purpose%></td>
      </tr>
    </table>
    </div>
  </div>

  <div class="w-100 row float-start text-center mt-3 mx-auto justify-content-center">
    <div class="col-12 col-md-9">
      <table class="table table-bordered border-dark">
        <tr>
          <th class="col-4 col-md-2 bg-warning">質問内容</th>
          <th class="col-8 col-md-7"><%= @question.question%></th>
        </tr>
      </table>
    </div>
  </div>
  <div class='hidden'>
    <%= form.hidden_field :id, :value => @question.id %>
    <%= form.hidden_field :ids, :value => @question_ids %>
  </div>

  <%= form.fields_for :answers do | answer | %>
    <% if answer.object.user_id == current_user.id || answer.object.user_id.nil? %>
      <% if controller.controller_name == "questions"%>
        <%= render "questions/answer_fields", f: answer %>
      <% else %>
        <%= render "answers/answer_fields", f: answer %>
      <% end %>
    <% end %>
  <% end %>
  <div class="text-center m-3">
    <%= link_to_add_association "回答を追加", form, :answers,class: 'btn btn-warning me-5' %>
    <%= form.submit value='送信',class: 'btn btn-primary ms-5'%>
  </div>
<% end %>

<script>
  function countdown(){
    var timers = document.getElementById('timer')
    const sec = timers.textContent
    const diff = sec - 1
    diff > 0 ? timers.textContent = diff : timers.textContent = 0
    setTimeout(countdown,1000);
  }
  countdown();
</script>
