<%= form_with(model: thema) do |form| %>
  <% if thema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thema.errors.count, "error") %> prohibited this thema from being saved:</h2>

      <ul>
        <% thema.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name ,value='テーマ名' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :purpose, velue='目的' %>
    <%= form.text_field :purpose %>
  </div>
   <%= form.fields_for :questions do | question | %>
    <div class="field">
      <%= question.label :question, value="質問#{question.index + 1}" %>
      <%= question.text_field :question %>
    </div>
   <% end %>

  <div class="actions">
    <%= form.submit value='送信'%>
  </div>
<% end %>
