<p id="notice"><%= notice %></p>

<h1>Themas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Lock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @themas.each do |thema| %>
      <tr>
        <td><%= thema.name %></td>
        <td><%= thema.purpose %></td>
        <td><%= thema.lock %></td>
        <td><%= link_to 'Show', thema %></td>
        <td><%= link_to 'Edit', edit_thema_path(thema) %></td>
        <td><%= link_to 'Destroy', thema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thema', new_thema_path %>
