<%= form_with(model: place) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% @answer_ids.each do |id|%>
    <% user = User.find(id) %>
    <div class="mt-2">
      <%= form.label :user, value="#{user.name}(@#{user.nickname})" %>
      <%= form.check_box id,{checked: true, id: "#{user.name}(@#{user.nickname})"},true, false %>
    </div>
  <% end %>
  <div class="actions mt-3 ms-3">
    <%= form.submit value='取込'%>
  </div>
<% end %>
