<!DOCTYPE html>
<html>
  <head>
    <title>KjMethod</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-light bg-primary justify-content-start mb-2">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white border p-1"%>
        <%= link_to "テーマ作成", new_thema_path, class: "nav-link text-white border p-1"%>
      <% else %>
        <%= link_to "Sign up", login_path ,class: "nav-link border-right text-white border p-1"%>
        <%= link_to "Login", login_path ,class: "nav-link text-white border p-1"%>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
